
body {
  margin-top: 60px; 
}


.navbar {
  width: 100%;
  background-color: rgb(40, 40, 49);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 1000;
}


.banner-image {
  width: 100%; 
  height: auto; 
 
  border-radius: 8px; 
  object-fit: cover; 
}


.home-container {
  width: 100%;
  padding: 20px;
  margin-top: 60px; 
  overflow: hidden;
}


.banner-text {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  color: white;
  text-align: center;
  font-family: 'Arial', sans-serif;
}


.restaurant-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
}

.restaurant-item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 100%; 
  max-width: 300px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}


.restaurant-item:hover {
  transform: scale(1.05); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.restaurant-image {
  width: 100%; 
  height: auto; 
  object-fit: cover;
  display: block; 
}


.restaurant-item h2, .restaurant-item p {
  margin: 10px; 
}
