/* Navbar Styles */
.navbar {
  width: 100%; /* Full width of the viewport */
  background-color: rgb(255, 191, 0) !important;
  padding: 20px; /* Adjust padding to fit content */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; /* Fix the navbar at the top */
  top: 0;
  left: 0;
  box-sizing: border-box; /* Include padding and border in width calculation */
  z-index: 1000; /* Ensure it stays above other content */
}

.navbar-logo {
  color: #fff;
  font-size: 34px;
  font-weight: bold;
}

.navbar-links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin-left: 20px;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.navbar-links a:hover {
  color: #ddd;
}

/* Ensure content below the navbar is not hidden */
body {
  margin: 0; /* Remove default body margin */
  padding-top: 80px; /* Add padding-top equal to the height of the navbar */
}

/* Adjusting container and content below navbar */
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 80px); /* Adjust height to account for navbar */
  position: relative; /* Ensure it positions relative to the .App container */
}
